screen, row {
	width: auto;
	min-width: none;
	max-width: none;
	padding: 0;
	margin: auto;
}

screen {
	background-color: black;
	/* default color */
	color: white;
	display: block;
}

screen row {
	font-family: monospace;
	font-style: bold;
	display: block;
}

screen row char {
	display: inline;
	height: 2ex;
	width: 2em;
	vertical-align: center;
	text-align: center;
}
