screen {
	/* default color */
	color: white;

	display: table;
}

screen row {
	display: table-row;
	font-family: monospace;
	font-style: bold;
	margin: 0;
	padding: 0;
	background-color: black;
}

screen row char {
	display: table-cell;
	display: block;
	float: left;
	height: 1.1em;
	width: 1.1em;
}

newline {
	clear: both;
}
